#############
## folders ##
#############
build

#############
##  files  ##
#############
*.*~
*.*user.*
*.user
*.autosave
CATKIN_IGNORE
*.orig
*~
*.idea
*.pyc

## Added
catkin_generated/*
devel/*
CMakeFiles/*

*CMakeCache.txt
*.cmake
*Makefile
*.bag
gtest/*o
gtest/*

#eclipse project
*.cproject
*.project
